.App-header{
    margin: 40px 0;
 
}
.App-container{
    max-width: 960px;
    margin: 20px auto;
    display: block;

}
 header{
     font-size: 44px;
     color:white;
 }

 footer a{
     text-decoration: none;
     color:#E57F84;
 }
 footer a:hover{
     color:#4297A0;
     text-decoration: underline;
 }